<style>

:root{
    --border-clr: #03045e;
    --darkerbackground: #023E8A;
    --background-clr: #014f86;
    --background2-clr: #0077b6;
    --lighterbackground:#0096C7;
    --hover-clr: #0077b6;
    --lighterhover: #48CAE4;
    --box1:#CAF0F8;
    --box2:#ADE8F4;
    --box3: #90E0EF;
    --whitetext: #FFFFFF;
}

.headerspan{
    padding: 1.3em;
    background-color: #014f86;
    h2{
        font-size: 2em;
        color: var(--whitetext);
    }
} 


.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about{
    padding: 1em;
    margin: 1em;
    background-color: var(--lighterbackground);
    .label{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:1em;
    }
}

.contact-form{
    padding: 1em;
    margin: 1em;
    background-color: var(--lighterbackground);
    display: grid;
}

#smallInput{
    margin: 1.5em;
    min-height: 50px;
    border: 0;
    outline: 0;
}



#largeInput{
    margin: 1.5em;
    min-height: 50px;
    border: 0;
    outline: 0;    
    
}



#submitbtn{
    margin: 1.5em;
    height: 50px;
    border: 0;
    outline: 0;

}
#submitted{

    margin: 1.5em;
    height: 50px;
    border: 0;
    outline: 0;

}

#feedback{
    padding:1em;
    margin: 1em;
    margin-left: 21em;
    height: 50px;
    border: 0;
    outline: 0;    background-color: var(--box1);


}
